body{
    margin: 0;
}
.menu {
background-color:#222222 ;
}

.menu__container {
    max-width: 800px;
    margin: auto;
}
.menu__container>a{
    text-decoration: none;
    color: white;
}

.menu2 {
    display: inline-block;
    float: right;
}
.menu2>a{
    color: white;
    text-decoration: none;
}
.banner{
    background-image: url("img/apex-legends-pathfinder-robot-emoticons-saluting-futuristic.jpg");
    font-size: 40px;
    padding-bottom: 150px;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner>h1{

}
.button{
    background: rgb(101,218,253);
background: linear-gradient(45deg, rgba(101,218,253,1) 22%, rgba(112,253,202,1) 98%);
    display: inline-block;
    padding: 15px 30px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;

}
.section1{
    background-color: #222222;
    color:#65d9fe ;
    text-align: center;
    padding: 30px;

}
.card{
    display: inline-block;
    width: 100px;
    vertical-align: top;

}
.section2{
    background-color: #222222;
    color:#72d6fb ;
}
.section2__container{
width: 1000px;
}
.left,.card2>img{
    width: 50%;

}
.left{
    display: inline-block;
}
.section2__container>h2{
    text-align: center;
}
